
<div class="container">

  <h1 class="page-header font-white ">Dashboard</h1>
  <br><br>
  <div class="row text-center">
    <div class="col-lg-3 col-sm-6 text-center">
      <%= image_tag("numerology-out.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "") %>
      <h4><%= link_to "Numerology", numerologys_path , class: "font-white" %></h4>
    </div>

    <div class="col-lg-3 col-sm-6 text-center">
      <%= image_tag("astrology-out.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "") %>       
      <h4><a class="font-white" href="#">Astrology</a></h4>                 
    </div>

    <div class="col-lg-3 col-sm-6 text-center">
      <%= image_tag("graha-out.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "Edit Entry") %>
      <h4><a class="font-white" href="#">Navgrah</a></h4>
    </div>

    <div class="col-lg-3 col-sm-6 text-center">
      <%= image_tag("mantram.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "Edit Entry") %>        
      <h4><a class="font-white" href="#">Mantram</a></h4>  
    </div>

    <div class="col-md-offset-1 col-lg-3 col-sm-6 text-center">
      <%= image_tag("lucky-number.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "Edit Entry") %>
      <h4><a class="font-white" href="#">Lucky Number</a></h4>           
      
    </div>

    <div class="col-lg-3 col-sm-6 text-center">
      <%= image_tag("rasi-chakra.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "Edit Entry") %>
      <h4><a class="font-white" href="#">Rasulu</a></h4>             
      
    </div>

    <div class="col-lg-3 col-sm-6 text-center">
      <%= image_tag("vastu.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "Edit Entry") %>    
      <h4><a class="font-white" href="#">Vastu</a></h4>              
    </div>

    <div class="col-md-offset-3 col-lg-3 col-sm-6 text-center">
      <%= image_tag("stones.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "Edit Entry") %>
      <h4><a class="font-white" href="#">Stones</a></h4>
    </div>

    <div class="col-lg-3 col-sm-6 text-center">
      <%= image_tag("fengshui-vaastu.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "Edit Entry") %>
      <h4><a class="font-white" href="#">Fengshui Vaastu</a></h4>
    </div>
  </div>
</div>