<div class="row text-center">
  <div class="col-sm-4"><h4>FREEUSER COUNT: <span class="label label-info">00</span></h4></div>
  <div class="col-sm-4"><h4>LIFEMEMBERSHIP</h4></div>  
</div>

<div class="row">
  <div class="col-sm-4 profile">
    <ul class="list-group">
      <% if current_user.avatar.present? %>
      <%= image_tag current_user.avatar_url, class: "img-responsive" %>
      <% elsif current_user.gender %>
      <%= image_tag "profile-2.jpg", class: "img-responsive" %>
      <% else %>
      <%= image_tag "profile-1.jpg", class: "img-responsive" %>
      <%end %>

      <li class="list-group-item">
        <div class="row">        
          <div class="col-xs-12"><%= current_user.name %></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-sm-4 text-center">
    <%= image_tag "logo.jpg", size: '150x150'%>    

  </div>
  <div class="col-sm-4 text-left">

    <%= image_tag "customer-page.jpg", size: '200x200', class: "rotate-image"%>    


  </div>
</div>

<div class="row">
  <div class="col-md-3">  
    <ul class="ch-grid">
      <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
        <div class="ch-item"> 
          <div class="ch-info">
            <h3>Numerology</h3>
            <p>Caption <%= link_to "Go", numerologys_path %></p>
          </div>
          <div class="ch-thumb ch-img-1"></div>
        </div>
      </li>
      <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
        <div class="ch-item"> 
          <div class="ch-info">
            <h3>Astrology</h3>
            <p>Caption <a href="#" data-toggle="modal" data-target="#astrology">Read more</a></p>
          </div>
          <div class="ch-thumb ch-img-2"></div>
        </div>
      </li>
      <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
        <div class="ch-item"> 
          <div class="ch-info">
            <h3>Baby Names</h3>
            <p>Caption <a href="#" data-toggle="modal" data-target="#babynames">Read more</a></p>
          </div>
          <div class="ch-thumb ch-img-3"></div>
        </div>
      </li>
      <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
        <div class="ch-item"> 
          <div class="ch-info">
            <h3>Products</h3>
            <p>Caption <a href="#" data-toggle="modal" data-target="#products">Read more</a></p>
          </div>
          <div class="ch-thumb ch-img-4"></div>
        </div>
      </li>
      <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
        <div class="ch-item"> 
          <div class="ch-info">
            <h3>Vastu</h3>
            <p>Caption <a href="#" data-toggle="modal" data-target="#vastu">Read more</a></p>
          </div>
          <div class="ch-thumb ch-img-5"></div>
        </div>
      </li>
      <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
        <div class="ch-item"> 
          <div class="ch-info">
            <h3>Matrimony</h3>
            <p>Caption <%= link_to "Go", matrimony_index_path %></p>
          </div>
          <div class="ch-thumb ch-img-6"></div>
        </div>
      </li>
      <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
        <div class="ch-item"> 
          <div class="ch-info">
            <h3>Mantras</h3>
            <p>Caption <a href="#" data-toggle="modal" data-target="#mantras">Mantras</a></p>            
          </div>
          <div class="ch-thumb ch-img-7"></div>
        </div>
      </li>
      <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
        <div class="ch-item"> 
          <div class="ch-info">
            <h3>Remedies</h3>
            <p>Caption <a href="#" data-toggle="modal" data-target="#remedies">Read more</a></p>
          </div>
          <div class="ch-thumb ch-img-8"></div>
        </div>
      </li>
      <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
        <div class="ch-item"> 
          <div class="ch-info">
            <h3>Pandit</h3>
            <p>Caption <%= link_to "Go", pandits_path %></p>
          </div>
          <div class="ch-thumb ch-img-9"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-7">
    <h3 class="page-header ">Dashboard</h3>

    <!-- <div class="row text-center">
      <div class="col-lg-4 col-sm-6">
        <%= image_tag("numerology-out.jpg", class: "img-circle img-center", alt: "", size: "200x200") %>
        <h4><%= link_to "Numerology", numerologys_path %></h4>
        <br><br>
      </div>

      <div class="col-lg-4 col-sm-6">
        <%= image_tag("astrology.jpg", class: "img-circle img-center", alt: "", size: "200x200") %>       
        <h4><a href="#">Astrology</a></h4> 
        <br><br>                
      </div>

      <div class="col-lg-4 col-sm-6">
        <%= image_tag("babynames.jpg", class: "img-circle img-center", alt: "Edit Entry", size: "200x200") %>
        <h4><a href="#">Baby Names</a></h4>
        <br><br>
      </div>


      <div class="col-lg-4 col-sm-6">
        <%= image_tag("products.jpg", class: "img-circle img-center", alt: "Edit Entry", size: "200x200") %>        
        <h4><a href="#">Products</a></h4>
        <br><br>
      </div>

      <div class="col-lg-4 col-sm-6">
        <%= image_tag("vastu.png", class: "img-circle img-center", alt: "Edit Entry", size: "200x200") %>
        <h4><a href="#">Vastu</a></h4>
        <br><br>
      </div>

      <div class="col-lg-4 col-sm-6">
        <%= image_tag("matrimony.jpg", class: "img-circle img-center", alt: "Edit Entry", size: "200x200") %>        
        <h4><%= link_to "Matrimony", matrimony_index_path %></h4>  
        <br><br>
      </div>

      <div class="col-lg-4 col-sm-6">
        <%= image_tag("mantras.jpg", class: "img-circle img-center", alt: "Edit Entry", size: "200x200") %>    
        <h4 data-toggle="modal" data-target="#mantras"><a href="#">Mantras</a></h4>
        <br><br>              
      </div>

      <div class="col-lg-4 col-sm-6">
        <%= image_tag("remedies.jpg", class: "img-circle img-center", alt: "Edit Entry", size: "200x200") %>
        <h4><a href="#">Remedies</a></h4>
        <br><br>
      </div>

      <div class="col-lg-4 col-sm-6">
        <%= image_tag("pandit.jpg", class: "img-circle img-center", alt: "Edit Entry", size: "200x200") %>
        <h4><%= link_to "Pandit", pandits_path %></h4>        
        <br><br>
      </div>
    </div> -->
  </div>  
  <div class="col-md-2">

  </div>
</div>




<!-- <div class="row text-center">
  <div class="col-lg-3 col-sm-6 text-center">
    <%= image_tag("numerology-out.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "") %>
    <h4><%= link_to "Numerology", numerologys_path %></h4>
  </div>

  <div class="col-lg-3 col-sm-6 text-center">
    <%= image_tag("astrology.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "") %>       
    <h4><a href="#">Astrology</a></h4>                 
  </div>

  <div class="col-lg-3 col-sm-6 text-center">
    <%= image_tag("babynames.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "Edit Entry") %>
    <h4><a href="#">Baby Names</a></h4>
  </div>

  <div class="col-lg-3 col-sm-6 text-center">
    <%= image_tag("products.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "Edit Entry") %>        
    <h4><a href="#">Products</a></h4>
  </div>

  <div class="col-md-offset-1 col-lg-3 col-sm-6 text-center">
    <%= image_tag("vastu.png", class: "img-circle img-responsive img-thumbnail img-center", alt: "Edit Entry") %>
    <h4><a href="#">Vastu</a></h4>
  </div>

  <div class="col-lg-3 col-sm-6 text-center">
    <%= image_tag("rasi-chakra.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "Edit Entry") %>
    <h4 ><a >Matrimony</a></h4>
  </div>

  <div class="col-lg-3 col-sm-6 text-center">
    <%= image_tag("mantras.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "Edit Entry") %>    
    <h4 data-toggle="modal" data-target="#mantras"><a href="#">Mantras</a></h4>              
  </div>

  <div class="col-md-offset-3 col-lg-3 col-sm-6 text-center">
    <%= image_tag("remedies.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "Edit Entry") %>
    <h4><a href="#">Remedies</a></h4>
  </div>

  <div class="col-lg-3 col-sm-6 text-center">
    <%= image_tag("pandit.jpg", class: "img-circle img-responsive img-thumbnail img-center", alt: "Edit Entry") %>
    <h4><a href="#">Pandit</a></h4>
  </div>
</div> -->




<div class="modal fade" id="mantras" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Mantras</h4>
      </div>
      <div class="modal-body">            

        <%= render 'mantras'%>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
      </div>
    </div>
  </div>
</div>