<h1 class="page-header">Pandits</h1>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Astrologers</th>
			<th>Numerologist</th>
			<th>Address</th>
			<th>Action</th>
		</tr>
	</thead>
	<!-- <tbody>
		<% @pandits.each do |pandit| %>
		<tr>
			<td><%= pandit.name %></td>
			<td><%= pandit.name %></td>
			<td><%= pandit.name %></td>
			<td><%= pandit.name %></td>
			<td><%= pandit.name %></td>
			<td><%= pandit.name %></td>
		</tr>
		<%end%>
	</tbody> -->
</table>