
  <style type="text/css">
  	.panditimages{
  		width: 100%;
  		height: 100%;

  	}

  </style>

<div >
  <div class="row">
 	<dir class="col-sm-3">
 	    <%= image_tag "logo.png", class: "panditimages img-responsive" %></br>
 		<%= image_tag "pandit1.jpg", class: "panditimages img-responsive" %></br>	
 		<%= image_tag "pandit6.jpg", class: "panditimages img-responsive" %></br>
 		
 	</dir>


 	<dir class="col-sm-6">
 		
 		<%= image_tag "pandit3.png", class: "panditimages img-responsive" %></br>
 		<button class="btn btn-primary btn-lg">Vedam Certified Pandit</button></br>
 		<button class="btn btn-primary btn-lg">Consultancy Pandit</button></br>
 		<button class="btn btn-primary btn-lg">Both Pandit</button>
 	</dir>


 	<dir class="col-sm-3">
 	    <%= image_tag "pandit5.jpg", class: "panditimages img-responsive" %></br>
 	    
 		<%= image_tag "pandit2.jpg", class: "panditimages img-responsive" %></br>
 		<%= image_tag "pandit9.jpg", class: "panditimages img-responsive" %></br>
 			
 		
 	</dir>

 </div>
 </div>