<div class="row">
  <div class="col-sm-6">
    <h4 class="page-header"><%= @pandit.name.capitalize %></h4>

    <dl class="dl-horizontal">
      <dt>Photo</dt>
      <dd><%= image_tag(@pandit.avatar.url, class: "img-responsive") %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%=@pandit.email%></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Contact</dt>
      <dd><%=@pandit.phone%></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Date of Birt</dt>
      <dd><%=@pandit.dob%></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Address</dt>
      <dd><%= "#{@pandit.pandit.door_no}" if @pandit.pandit.door_no.present?%>
        <%= ", #{@pandit.pandit.street}" if @pandit.pandit.street.present?%>
        <%= ", #{@pandit.pandit.city}" if @pandit.pandit.city.present?%>
        <%= ", #{@pandit.pandit.state}" if @pandit.pandit.state.present?%>
        <%= " - #{@pandit.pandit.zip_code}" if @pandit.pandit.zip_code.present?%>
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Aadhar Number</dt>
      <dd><%=@pandit.aadhar_card%></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Deals</dt>
      <dd><%=@pandit.pandit.deals %></dd>
    </dl>
  </div>
  <div class="col-sm-6">
    <h4 class="page-header">Want To Book This Pandit
      <small>Then Click Book now</small>
    </h4>

    <%= form_tag  pandits_path, :method => :get , class: "well-sm" do %>

    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">State</label>
      <textarea name="note" rows="8" cols="40" id="note" placeholder="Note"></textarea>
    </div>

    <button type="search" class="btn btn-primary">Search</button>

    <% end %>

    <%= link_to "Book Now",'', class: "btn btn-success" %>
  </div>
</div>
