<div class="user-wrapper profile">
  <ul class="list-group">
    <% if current_user.avatar.present? %>
    <%= image_tag current_user.avatar_url, class: "img-responsive" %>
    <% elsif current_user.gender %>
    <%= image_tag "profile-2.jpg", class: "img-responsive" %>
    <% else %>
    <%= image_tag "profile-1.jpg", class: "img-responsive" %>
    <%end %>

    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-4 text-right"><label><small> EMail</small></label></div>
        <div class="col-xs-8"><%= current_user.email %></div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-4 text-right"><label><small> Gender</small></label></div>
        <div class="col-xs-8"><%= current_user.gender ? "Male" : "Female" %></div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-4 text-right"><label><small> Phone</small></label></div>
        <div class="col-xs-8"><%= current_user.phone %></div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-4 text-right"><label><small> Aadhar</small></label></div>
        <div class="col-xs-8"><%= current_user.aadhar_card %></div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-4 text-right"><label><small> Address</small></label></div>
        <div class="col-xs-8"><%= current_user.address %></div>
      </div>
    </li>
    <div class="description text-right">          
      <%= link_to "Edit", edit_user_registration_path, class: "btn btn-info btn-sm" %>
    </div>
  </ul>
  <br>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag "1-min.jpg", class: "img-responsive" %>
      </div>
      <div class="item">
        <%= image_tag "2-min.jpg", class: "img-responsive" %>
      </div>
      <div class="item">
        <%= image_tag "3-min.jpg", class: "img-responsive" %>
      </div>
      <div class="item">
        <%= image_tag "4-min.jpg", class: "img-responsive" %>
      </div>
      <div class="item">
        <%= image_tag "5-min.jpg", class: "img-responsive" %>
      </div>
      <div class="item">
        <%= image_tag "6-min.jpg", class: "img-responsive" %>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>    
</div>