<div class="container-fuild bg-gray padding-10">
	a
</div>
<div class="container-fluid">
	<h2 class="page-header font-white">Digitals</h2>
	<br>
	<div class="col-sm-6">
		<div class="panel panel-primary black-panel ">
		  <div class="panel-heading">
		    <h3 class="panel-title">Numerology</h3>
		  </div>
		  <div class="panel-body">
		    <%= form_tag(numerologys_digital_path, remote: true, method: :get)do %>
			  	
				<div class="form-group">
				  <%= label_tag :name1, "First Person" %><br />
				  <%= text_field_tag :name1, "",autofocus: true, class: "form-control", placeholder: "Enter Name" %>
				</div>

				
				<div class="form-group">
				  <%= label_tag :date_of_birth %>
				  <% born_on = Time.now %>
				  <div class="form-control">
				  	<%= select_date(born_on, prefix: :person1, order: [ :day,:month,:year], html_options: {class: "form-control"}, date_separator: '-',  prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }) %>	
				  </div>			      
				</div>

				<div class="form-group">
				  <%= label_tag :name2, "Second Person" %><br />
				  <%= text_field_tag :name2, "",autofocus: true, class: "form-control", placeholder: "Enter Name" %>
				</div>

				
				<div class="form-group">
				  <%= label_tag :date_of_birth %>
				  <% born_on = Time.now %>
				  <div class="form-control">
				  	<%= select_date(born_on, prefix: :person2, order: [ :day,:month,:year], html_options: {class: "form-control"}, date_separator: '-',  prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }) %>	
				  </div>			      
				</div>

				<div class="form-group">
				 	<%= submit_tag "Get Result", class: "btn btn-success btn-block" %>
				</div>
			<%end%>
		  </div>
		</div>		
	</div>
	<div class="col-sm-6">
		<div class="panel panel-success red-panel">
		  <div class="panel-heading">
		    <h3 class="panel-title">Result</h3>
		  </div>
		  <div class="panel-body" id="digital">
		    To get the result fill the form and submit.
		  </div>
		</div>
	</div>
</div>