
<!-- <div class="row">
	<div class="col-md-3 block">	    
		<%= link_to lucky_number_numerologys_path, class: "circle2"  do %>	    
		<span>Lucky<br> Number</span>
		<%end%>
	</div>

	<div class="col-md-3 block">
		<%= link_to cell_number_match_numerologys_path, class: "circle2"  do %>	    
		<span>Cell Number Match</span>
		<%end%>
	</div>

	<div class="col-md-3 block">
		<%= link_to vechicle_number_match_numerologys_path, class: "circle2"  do %>	    
		<span>Vechicle <br>Number <br>Match</span>
		<%end%>
	</div>

	<div class="col-md-3 block">
		<%= link_to get_digital_numerologys_path, class: "circle2"  do %>	    
		<span>Digital</span>
		<%end%>
	</div>

	<div class="col-md-offset-2 col-md-3 block">
		<%= link_to get_friendship_numerologys_path, class: "circle2"  do %>	    
		<span>Friendship</span>
		<%end%>
	</div>

	<div class="col-md-3 block">
		<%= link_to get_favorites_numerologys_path, class: "circle2"  do %>	    
		<span>Get Favorites</span>
		<%end%>
	</div>

	<div class="col-md-3 block">
		<%= link_to get_name_correction_numerologys_path, class: "circle2"  do %>	    
		<span>Name Correction</span>
		<%end%>
	</div>
	
</div>
 -->