<p id="notice"><%= notice %></p>


<dl class="dl-horizontal">
  <dt>Image:</dt>
  <dd><%= image_tag(@product.image.thumb.url, size: "150x150") %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @product.name %></dd>
</dl>


<dl class="dl-horizontal">
  <dt>Description:</dt>
  <dd><%= @product.description %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Price:</dt>
  <dd><%= @product.price %></dd>
</dl>

<dl class="dl-horizontal">
  <dt></dt>
  <dd>
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-info" %>
    <%= link_to 'Back', products_path , class: "btn btn-default"%>
  </dd>
</dl>


